@font-face {
  font-family: norse-bold-font;
  src: url(assets/Norse-Bold.otf);
}

:root {
  --light-font-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  appearance: none;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
}

.icon {
  width: 60px;
}

.logo-div > p {
  font-family: norse-bold-font;
  font-size: 3rem;
  color: var(--light-font-color);
}

.logo-div {
  position: relative;
  top: 30%;
  background-color: hsl(0, 0%, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.background-div {
  flex: auto;
  position: relative;
  background-image: url(assets/duncan-kidd-4vkEwpfm36I-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-div {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.content-div > * {
  flex: 1;
}

.message-div {
  background-color: #fbfbfb;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 15px inset;
}

.form-div > p {
  font-size: 22px;
}

.form-div > form {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.form-div > form > p {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.create-account-div {
  background-color: #fbfbfb;
  padding: 30px;
}

.attribution {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  background-color: hsl(0, 0%, 0%, 50%);
}

.attribution > p {
  color: var(--light-font-color);
}

button {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid burlywood;
  background-color: burlywood;
  color: brown;
  font-size: 18px;
}

button:hover {
  filter: brightness(90%);
}

button:focus {
  filter: brightness(80%);
}

input {
  padding: 10px;
  margin-top: 2px;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px 0.5px;
}

input[type="password"]:invalid {
  border-color: red;
}

.password-match-indicator {
  font-size: 12px;
  color: red;
}
