@font-face {
  font-family: norse-bold-font;
  src: url(assets/Norse-Bold.otf);
}

:root {
  --light-font-color: #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
}

.icon {
  width: 60px;
}

.logo-div > p {
  font-family: norse-bold-font;
  font-size: 3rem;
  color: var(--light-font-color);
}

.logo-div {
  position: relative;
  top: 30%;
  background-color: hsl(0, 0%, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.background-div {
  flex: auto;
  position: relative;
  background-image: url(assets/duncan-kidd-4vkEwpfm36I-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-div {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.content-div > * {
  flex: 1;
}

.message-div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-div {
  padding: 30px;
}

.form-div > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.form-div > form > p {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.create-account-div {
  padding: 30px;
}

.attribution {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;
  background-color: hsl(0, 0%, 0%, 50%);
}

.attribution > p {
  color: var(--light-font-color);
}
